@model FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel

@{ 
    Layout = null;
    List<FeriaVirtualWeb.Models.DataContext.PRODUCTO> listaproductos = ViewBag.productos;
}

<div>
    <h4>Detalle Postulacion</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.PROCESO)
            </td>

            <td>
                @Html.DisplayFor(model => model.PROCESO)
            </td>
        </tr>
        
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.NOMBRECLIENTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.NOMBRECLIENTE)
            </td>
        </tr>
       
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.FECHA)
            </td>

            <td>
                @Html.DisplayFor(model => model.FECHA)
            </td>
        </tr>
        
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.PAISCLIENTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.PAISCLIENTE)
            </td>
        </tr>
        
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.TIPOPROCESO)
            </td>

            <td>
                @Html.DisplayFor(model => model.TIPOPROCESO)
            </td>
        </tr>
        
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayName("PRODUCTO")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD SOLICITADA")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD ENVIADA")
            </th>
            <th>
                @Html.DisplayName("ESTADO")
            </th>
        </tr>
        @foreach (var item in listaproductos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CANTIDAD)
                </td>
                <td>
                    @Html.DisplayFor(model => item.STOCK)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ESTADOPROCESO)
                </td>
            </tr>
        }
    </table>  
</div>

