@model IEnumerable<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel>

<br />
<h4>Mis Postulaciones</h4>
<br />

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">POSTULACIONES</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        
    </div>
</div>

<div class="modal fade modal fade bd-example-modal-lg" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PROCESO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FECHA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TIPOPROCESO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ESTADO)
                    </th>
                    <th>
                        @Html.DisplayName("ACCIONES")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROCESO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TIPOPROCESO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADO)
                        </td>
                        <td>
                            <a href="#exampleModalCenter5" class="btnDetails btn btn-primary" data-toggle="modal" data-id="@item.ORDEN">Detalles</a>
                        </td>
                    </tr>
                }

            </table>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    $(".btnDetails").click(function () {
        $(".modal-body").load("/ProcesoVenta/MyPostulacionesDetails/" + $(this).data("id"));
    });
</script>