@model List<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel>

<h2>Procesos de Venta Externa</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayName("N° ORDEN")
        </th>
        <th>
            @Html.DisplayName("CLIENTE")
        </th>
        <th>
            @Html.DisplayName("FECHA INICIO")
        </th>
        <th>
            @Html.DisplayName("ESTADO")
        </th>
        <th>
            @Html.DisplayName("ACCION")
        </th>
    </tr>
    @for (var i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => Model[i].ORDEN)
            </td>
            <td>
                @Html.DisplayFor(model => Model[i].NOMBRECLIENTE)
            </td>
            <td>
                @Html.DisplayFor(model => Model[i].FECHA)
            </td>
            <td>
                @Html.DisplayFor(model => Model[i].ESTADO)
            </td>
            <td style="white-space:nowrap">
                <a href="#exampleModalCenter3" class="btnVer btn btn-primary" data-toggle="modal" data-id="@Model[i].ORDEN">
                    Ver Productos
                </a>
                @if (Model[i].ESTADO != "Pendiente")
                {
                    <a href="#" class="btnPostular btn btn-primary" data-id="@Model[i].ORDEN">
                        Postular
                    </a>
                }
                else
                {
                    <a href="#" class="btnPostular btn btn-primary" style="display:none;" data-id="@Model[i].ORDEN">
                    Postular
                    </a>
                }
            </td>
        </tr>
    }

</table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="modelcontent"></div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).on('click','.btnVer',(function (e) {
            e.preventDefault();
            $("#modelcontent").load("/ProcesoVenta/ProductosListAccordingProcesoVenta/" + $(this).data("id"));
     }));


    $(".btnPostular").click(function () {
        var loader = $(this);
        $.ajax({
            url: '@Url.Action("Postular","ProcesoVenta")',
            type: "POST",
            dataType: 'html',
            data: { orden: $(this).data("id") },
            beforeSend: function () {
                loader.replaceWith("<img src='@Url.Content("~/assest/img/loading.gif")'>");
            },
            success: function (response) {
                console.log(response);
                location.reload(true);
                
            }
        });
        return false;
    }); 
</script>