@model List<FeriaVirtualWeb.Models.DataContext.VENTA>

@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="breadcomb-area">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcomb-wp">
                            <div class="breadcomb-icon">
                                <i class="notika-icon notika-form"></i>
                            </div>
                            <div class="breadcomb-ctn">
                                <h2>Ventas Externas</h2>
                                <p>Gestione las ventas externas y reparta las ganancias</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00c292">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br />
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header text-center pr-0 pl-0">
        Ventas
    </div>
    <div class="card-body" id="card-ventas">
        @using (Html.BeginForm("RepartirGanancias", "Administrador", FormMethod.Post, new { id = "form-repartir" }))
        {
            <table class="table table-condensed">
                <tr>
                    <th>
                        @Html.DisplayName("N° VENTA")
                    </th>
                    <th>
                        @Html.DisplayName("FECHA")
                    </th>
                    <th>
                        @Html.DisplayName("IMPUESTO ADUANA")
                    </th>
                    <th>
                        @Html.DisplayName("COSTO TRANSPORTE")
                    </th>
                    <th>
                        @Html.DisplayName("COMISION EMPRESA")
                    </th>
                    <th>
                        @Html.DisplayName("COSTO TOTAL")
                    </th>
                    <th>
                        @Html.DisplayName("GANANCIA EMPRESA")
                    </th>
                    <th>
                        @Html.DisplayName("N° PROCESO VENTA")
                    </th>
                    <th>
                        @Html.DisplayName("GANANCIAS")
                    </th>
                </tr>

                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].IDVENTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].FECHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].IMPUESTOADUANA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].COSTOTRANSPORTE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].COMISIONEMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].COSTOTOTAL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].GANANCIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].PROCESOVENTA_IDPROCESOVENTA)
                        </td>
                        <td>
                            @if (Model[i].ESTADO != "Completado")
                            {
                                <div class="ganancia">
                                    <a href="#" class="btnGanancias btn btn-success notika-btn-success" data-id="@Model[i].PROCESOVENTA_IDPROCESOVENTA">Repartir</a>
                                    <div class="loadbuttonGN d-flex justify-content-center"></div>
                                </div>
                            }
                            else
                            {
                                <img src='@Url.Content("~/assest/img/checkicon.png")' width="40" height="40">
                            }

                        </td>
                    </tr>
                }

            </table>
        }


    </div>
</div>

<script>
   $(document).ready(function () {
       var form = $("#form-repartir");
       var btnGanancias = $(".btnGanancias");
       
       btnGanancias.click(function () {
           $.ajax({
               url: form.attr('action'),
               type: "POST",
               dataType: 'html',
               data: { id: $(this).data("id") },
                success: function (response) {
                    if (response) {
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "timeOut": "4000",
                        }
                        toastr["success"]("Las Ganancias han sido Repartidas, Se Ha enviado un Correo a los Productores")   
                             
                    }
                }
            });
            return false;
        });
    });
</script>