@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    Layout = null;
}


@using (Html.BeginForm("AddNewProductos", "Productor", FormMethod.Post, new { id = "form-productos" }))
{
    <div class="pb-4 pl-5 pr-5" >
        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayName("DESCRIPCION")
                </th>
                <th>
                    @Html.DisplayName("PRECIO")
                </th>
                <th>
                    @Html.DisplayName("STOCK")
                </th>
                <th>
                    @Html.DisplayName("TIPO VENTA")
                </th>
            </tr>
            @for (var i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
                @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                    </td>
                    <td>
                        <div class="nk-int-st">
                            @Html.EditorFor(modelItem => Model[i].PRECIO, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </td>
                    <td>
                        <div class="nk-int-st">
                            @Html.EditorFor(modelItem => Model[i].STOCK, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </td>
                    <td>
                        <div class="chosen-select-act fm-cmp-mg">
                            @Html.DropDownListFor(modelItem => Model[i].TIPOVENTA, new List<SelectListItem> { new SelectListItem { Text = "Seleccione", Value = "Seleccione", Disabled = true, Selected = true }, new SelectListItem { Text = "Externo", Value = "Externo" }, new SelectListItem { Text = "Local", Value = "Local" } },
                            new { @class = "chosen form-control" })
                        </div>
                    </td>
                </tr>

            }
        </table>
        <button type="submit" class="btnIngresarP btn btn-success notika-btn-success col" id="btnIngresarP">Agregar</button>
        <div class="loadbutton d-flex justify-content-center"></div>
    </div>
    
}


<script src="~/assest/js/wow.min.js"></script>
<script src="~/assest/js/jquery-price-slider.js"></script>
<script src="~/assest/js/owl.carousel.min.js"></script>
<script src="~/assest/js/jquery.scrollUp.min.js"></script>
<script src="~/assest/js/chosen.jquery.js"></script>
<script src="~/assest/js/jquery.meanmenu.js"></script>
<script src="~/assest/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/assest/js/jquery.sparkline.min.js"></script>
<script src="~/assest/js/sparkline-active.js"></script>
<script src="~/assest/js/jquery.flot.js"></script>
<script src="~/assest/js/jquery.flot.resize.js"></script>
<script src="~/assest/js/flot-active.js"></script>
<script src="~/assest/js/jquery.knob.js"></script>
<script src="~/assest/js/jquery.appear.js"></script>
<script src="~/assest/js/knob-active.js"></script>
<script src="~/assest/js/jquery.todo.js"></script>
@*<script src="~/assest/js/waves.min.js"></script>
    <script src="~/assest/js/wave-active.js"></script>*@
<script src="~/assest/js/plugins.js"></script>
<script src="~/assest/js/main.js"></script>

<script>
    $(document).ready(function () {

        var form = $("#form-productos");
        var botonAgregar = $(".btnIngresarP");

        $("#btnIngresarP").click(function () {
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: 'html',
                data: form.serialize(),
                beforeSend: function () {
                    botonAgregar.replaceWith($(".loadbutton"));
                    $(".loadbutton").html("<img src='@Url.Content("~/assest/img/loading.gif")'>");
                },
                success: function (response) {
                    console.log(response);
                    if (response) {
                        $("#exampleModalCenter").modal("hide");
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "timeOut": "4000",
                        }
                        toastr["success"]("Sus Productos han sido Agregados Exitosamente")
                        if ($("#externoid").hasClass("active")) {
                            $("#externoid").trigger("click");
                        } else {
                            $("#localid").trigger("click");
                        }
                    }
                }
            });
            return false;
        });
    });
</script>