@model FeriaVirtualWeb.Models.DataContext.VENTA

@{ 
    Layout = null;
}

<div>
    <h5 class="d-flex justify-content-center">Ganancias</h5>
    <hr />
    <table class="table table-condensed">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PROCESOVENTA_IDPROCESOVENTA)
            </td>

            <td>
                @Html.DisplayFor(model => model.PROCESOVENTA_IDPROCESOVENTA)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IMPUESTOADUANA)
            </td>

            <td>
                @Html.DisplayFor(model => model.IMPUESTOADUANA)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.COSTOTRANSPORTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.COSTOTRANSPORTE)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.COMISIONEMPRESA)
            </td>

            <td>
                @Html.DisplayFor(model => model.COMISIONEMPRESA)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GANANCIAPRODUCTORNETA)
            </td>

            <td>
                @Html.DisplayFor(model => model.GANANCIAPRODUCTORNETA)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GANANCIATOTAL)
            </td>

            <td>
                @Html.DisplayFor(model => model.GANANCIATOTAL)
            </td>
        </tr>
    </table>
</div>

<div>
    @Html.ActionLink("Exportar PDF", "ExportPDFGanancias", new { id = Model.PROCESOVENTA_IDPROCESOVENTA }, new { @class = "btn btn-success notika-btn-success" })
</div>

