@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="padding:0; height:100vh">
    @using (Html.BeginForm("Listar", "Productor", FormMethod.Post, new { id = "form-productos" }))
    {
    <div class="col-md-4" style="padding:0">
        <div class="panel panel-default">
            <div class="panel-heading">Productos</div>
            <div class="panel-body">
                <table class="table">
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { id = "boolcheck" })
                            @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
                            @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => Model[i].PRECIO, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => Model[i].STOCK, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>

                    }
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" id="btnAgregar" class="btn btn-default" value="Agregar" />
        </div>
    </div>
    }
</div>

<script>
    $(document).ready(function () {

        var form = $("#form-productos");
        var botonAgregar = $("#btnAgregar");
        
       $("#btnAgregar").click(function () {
           $.ajax({
               url: form.attr('action'),
               type: "POST",
               dataType: 'html',
               data: form.serialize(),
               success: function (response) {
                   console.log(response);
                }
           });
           return false;
        });
    });
</script>
