@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    ViewBag.Title = "Index";
    //var lista = new List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>();
}

<h2>Index</h2>

<div style="padding:0; height:100vh">
    @using (Html.BeginForm("Listar", "Productor", FormMethod.Post, new { id = "form-productos" }))
    {
    <div class="col-md-4" style="padding:0">
        <div class="panel panel-default">
            <div class="panel-heading">Productos</div>
            <div class="panel-body">
                <table class="table">
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                            </td>
                            <td>
                                @*<input type="checkbox" @(item.IsChecked ? "seleccionado" : "") name="productos" value="@item.IDPRODUCTO" />*@
                                @Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { id = "boolcheck" })
                                @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
                                @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" id="btnAgregar" class="btn btn-default" value="Agregar" />
        </div>
    </div>
    }
    <div class="col-md-4" style="padding:0">
        <div class="panel panel-default">
            <div class="panel-heading">Productos</div>
            <div class="panel-body" id="addprod">
                
            </div>
        </div>
    </div>
</div>

<script>
   $(document).ready(function () {
       $("#btnAgregar").click(function () {
           var form = $("#form-productos");
           $.ajax({
               url: form.attr('action'),
               type: "POST",
               dataType: 'json',
               data: form.serialize(),
               success: function (response) {
                   $("#addprod").hide("slow", function () {
                       console.log(response);
                       $("#btnAgregar").enable(false);
                       $(this).html(response.PartialView);
                        $(this).show("slow");
                    });
                }
           });
           return false;
       });
    });
</script>
