@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    ViewBag.Title = "MyListProducts";
    List<FeriaVirtualWeb.Models.DataContext.PRODUCTO> misProductos = ViewBag.misproductos;
}

<h2>Mis Productos</h2>

<table class="table" id="listaProductos">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPRODUCTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STOCK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTOR_RUTPRODUCTOR)
            </th>
            <th></th>
        </tr>*@

    @foreach (var item in misProductos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPRODUCTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STOCK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCTOR_RUTPRODUCTOR)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Listar", "Productor", FormMethod.Post, new { id = "form-productos" }))
            {
                <div class="modal-body">

                    <table class="table">
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { id = "boolcheck" })
                                    @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
                                    @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => Model[i].PRECIO, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => Model[i].STOCK, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>

                        }
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrar">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnAgregar">Agregar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var form = $("#form-productos");
        var botonAgregar = $("#btnAgregar");

        $("#btnAgregar").click(function () {
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: 'html',
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response) {
                        $("#exampleModalCenter").modal("hide");
                        location.reload(true);
                    }
                }
            });
            return false;
        });
    });
</script>
