@model IEnumerable<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{ 
    Layout = null;
}
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th>
            @Html.DisplayName("ACCIONES")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="top" title="Actualizar">
                <a href="#exampleModalCenter" class="btnEdit btn btn-primary notika-btn-primary" data-toggle="modal" data-id="@item.IDPRODUCTO"><i class="fas fa-edit"></i></a>
            </span>
            <span data-toggle="tooltip" data-placement="top" title="Eliminar">
                <a href="#exampleModalCenter" class="btnDelete btn btn-danger notika-btn-danger" data-toggle="modal" data-id="@item.IDPRODUCTO"><i class="fas fa-trash"></i></a>
            </span>
        </td>
    </tr>
}

</table>
