@model FeriaVirtualWeb.Models.DataContext.TRANSPORTISTA

@{ 
    Layout = null;
    List<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel> clientes = ViewBag.datoscliente;
    List<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel> clientesL = ViewBag.datosclienteL;
}

<div>
    <div>@Html.DisplayName("Datos de Transporte")</div>
    <hr />
    <table class="table table-condensed table-sm">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TIPOTRANSPORTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.TIPOTRANSPORTE)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ANCHO)
            </td>

            <td>
                @Html.DisplayFor(model => model.ANCHO)@(" " + "m")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ALTO)
            </td>

            <td>
                @Html.DisplayFor(model => model.ALTO)@(" " + "m")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LARGO)
            </td>

            <td>
                @Html.DisplayFor(model => model.LARGO)@(" " + "m")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CAPACIDADCARGA)
            </td>

            <td>
                @Html.DisplayFor(model => model.CAPACIDADCARGA)@(" " + "kg")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.REFRIGERACION)
            </td>

            <td>
                @Html.DisplayFor(model => model.REFRIGERACION)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PRECIO)
            </td>

            <td>
                @Html.DisplayFor(model => model.PRECIO)
            </td>
        </tr>

    </table>
    <div>@Html.DisplayName("Datos de Subasta")</div>
    <hr />
    <table class="table table-condensed table-sm">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SUBASTAID)
            </td>

            <td>
                @Html.DisplayFor(model => model.SUBASTAID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ESTADOSUBASTA)
            </td>

            <td>
                @Html.DisplayFor(model => model.ESTADOSUBASTA)
            </td>
        </tr>
    </table>
    <div>@Html.DisplayName("Datos de Cliente")</div>
    <hr />
    <table class="table table-condensed table-sm">
        <tr>
            <th>
                @Html.DisplayName("PRODUCTOR")
            </th>
            <th>
                @Html.DisplayName("DIRECCION")
            </th>
            <th>
                @Html.DisplayName("TELEFONO")
            </th>
        </tr>
        @if (clientes != null)
        {
            foreach (var item in clientes)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(model => item.NOMBREPRODUCTOR)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DIRECCIONCLINICIAL)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TELEFONOCLI)
                    </td>
                </tr>
            }

        }
        @if (clientesL != null)
        {
            foreach (var item in clientesL)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.NOMBREPRODUCTOR)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DIRECCIONCLINICIAL)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TELEFONOCLI)
                    </td>
                </tr>
            }
        }

    </table>
</div>
