@model IEnumerable<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel>


<div class="d-flex">
    <div class="card text-center col-6 pr-0 pl-0 mr-2">
        <div class="card-header pr-0 pl-0">
            SUBASTAS
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDSUBASTA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FECHASUBASTA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ESTADOSUBASTA)
                    </th>
                    <th>
                        @Html.DisplayName("ACCIONES")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDSUBASTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHASUBASTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADOSUBASTA)
                        </td>
                        <td>
                            <a href="#card-subasta" class="btnsubasta btn btn-primary" data-id="@item.IDSUBASTA">Detalles</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="card col-6 pr-0 pl-0 ml-2">
        <div class="card-header pr-0 pl-0">
            DETALLES
        </div>
        <div class="card-body" id="card-subasta">
            
        </div>
    </div>
</div>

<script>
    $(".btnsubasta").click(function () {
        $("#card-subasta").load("/Subasta/GetDetailsMySubastas/" + $(this).data("id"));
    });
</script>
