@model FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel

@{ 
    Layout = null;
    List<FeriaVirtualWeb.Models.DataContext.PRODUCTO> listaproductos = ViewBag.productos;
}

<div>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.IDSUBASTA)
            </td>

            <td>
                @Html.DisplayFor(model => model.IDSUBASTA)
            </td>
        </tr>
       
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.NOMBRECLIENTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.NOMBRECLIENTE)
            </td>
        </tr>
        
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.PAISCLIENTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.PAISCLIENTE)
            </td>
        </tr>
        
        <tr>
            <td class="text-table-modal">
                @Html.DisplayNameFor(model => model.CLIENTEFINAL)
            </td>

            <td>
                @Html.DisplayFor(model => model.CLIENTEFINAL)
            </td>
        </tr>      
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayName("DESCRIPCION")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
        </tr>
        @foreach(var item in listaproductos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CANTIDAD)
                </td>
            </tr>
        }
    </table>
</div>
