@model List<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel>

@{ 
    Layout = null;
    List<FeriaVirtualWeb.Models.DataContext.PRODUCTO> listaproductos = ViewBag.productos;
}

<div>
    <div class="d-flex justify-content-center">@Html.DisplayName("Datos de Viaje")</div>
    <br />
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayName("PRODUCTOR")
            </th>
            <th>
                @Html.DisplayName("DIRECCION")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NOMBREPRODUCTOR)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DIRECCIONCLINICIAL)
                </td>
            </tr>
        }
    </table>
    <hr />
    <div class="d-flex justify-content-center">@Html.DisplayName("Datos de Productos de Despacho")</div>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayName("DESCRIPCION")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
        </tr>
        @foreach (var item in listaproductos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CANTIDAD)
                </td>
            </tr>
        }
    </table>
</div>
