@model List<FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel>

@{
    Layout = null;
    List<FeriaVirtualWeb.Models.DataContext.PRODUCTO> listaproductos = ViewBag.productos;
}

<div>
    <hr />
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayName("PRODUCTOR")
            </th>
            <th>
                @Html.DisplayName("DIRECCION")
            </th>
            <th>
                @Html.DisplayName("TELEFONO")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NOMBREPRODUCTOR)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DIRECCIONCLINICIAL)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TELEFONOCLI)
                </td>
            </tr>
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayName("DESCRIPCION")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
        </tr>
        @foreach (var item in listaproductos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CANTIDAD)
                </td>
            </tr>
        }
    </table>
</div>

