@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrder", "Cliente", FormMethod.Post, new { id = "form-productosOrder" }))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayName("DESCRIPCION")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { htmlAttributes = new { @class = "check" } })
                    @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
                    @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model[i].CANTIDAD, new { htmlAttributes = new { @class = "cantidad form-control" } })
                </td>
            </tr>

        }
    </table>
    <button type="submit" class="btn btn-primary col" id="btnIngresarOr">Agregar</button>
}

<script>
    $(document).ready(function () {

        var form = $("#form-productosOrder");
        var botonAgregar = $("#btnIngresarOr");

        $(".cantidad").val('');
        
        botonAgregar.click(function () {
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: 'html',
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    if (response) {
                        $("#exampleModalCenter2").modal("hide");
                        location.reload(true);
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["success"]("Su Orden ha sido Enviada Exitosamente", "Maipo Grande Dice")
                    }
                }
            });
            return false;
        });
    });
</script>