@model List<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrder", "Cliente", FormMethod.Post, new { id = "form-productosOrder" }))
{
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayName("PRODUCTO")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            @Html.HiddenFor(modelItem => Model[i].IDPRODUCTO, new { id = "idprod" })
            @Html.HiddenFor(modelItem => Model[i].DESCRIPCION, new { id = "descrip" })
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].DESCRIPCION, new { id = "descripcion" })
                </td>
                <td>
                    <div class="nk-int-st">
                        @Html.EditorFor(modelItem => Model[i].CANTIDAD, new { htmlAttributes = new { @class = "cantidad form-control" } })
                    </div> 
                </td>
            </tr>

        }
    </table>
    <button type="submit" class="btn btn-primary notika-btn-primary col" id="btnIngresarOr">Agregar</button>
    <div class="loadorden d-flex justify-content-center"></div>
}

<script src="~/assest/js/wow.min.js"></script>
<script src="~/assest/js/jquery-price-slider.js"></script>
<script src="~/assest/js/owl.carousel.min.js"></script>
<script src="~/assest/js/jquery.scrollUp.min.js"></script>
<script src="~/assest/js/jquery.meanmenu.js"></script>
<script src="~/assest/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/assest/js/jquery.sparkline.min.js"></script>
<script src="~/assest/js/sparkline-active.js"></script>
<script src="~/assest/js/jquery.flot.js"></script>
<script src="~/assest/js/jquery.flot.resize.js"></script>
<script src="~/assest/js/flot-active.js"></script>
<script src="~/assest/js/jquery.knob.js"></script>
<script src="~/assest/js/jquery.appear.js"></script>
<script src="~/assest/js/knob-active.js"></script>
<script src="~/assest/js/jquery.todo.js"></script>
@*<script src="~/assest/js/waves.min.js"></script>
    <script src="~/assest/js/wave-active.js"></script>*@
<script src="~/assest/js/plugins.js"></script>
<script src="~/assest/js/main.js"></script>

<script>
    $(document).ready(function () {

        var form = $("#form-productosOrder");
        var botonAgregar = $("#btnIngresarOr");

        $(".cantidad").val('');
        $(".cantidad").attr("autocomplete","off");

        botonAgregar.click(function () {
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: 'html',
                data: form.serialize(),
                beforeSend: function () {
                    botonAgregar.replaceWith($(".loadorden"));
                    $(".loadorden").html("<img src='@Url.Content("~/assest/img/loading.gif")'>");
                },
                success: function (response) {
                    console.log(response);
                    if (response) {
                        $("#exampleModalCenter2").modal("hide");
                        toastr.options = {
                            "positionClass": "toast-top-center",
                            "timeOut": "4000"
                        }
                        toastr["success"]("Su Orden ha sido Enviada Exitosamente", "Maipo Grande Dice")
                        $("#ordenesid").trigger("click");
                    }
                }
            });
            return false;
        });
    });
</script>

