@model IEnumerable<FeriaVirtualWeb.Models.DataContext.ORDEN>

@{ 
    Layout = null;
}
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDORDEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayName("ACCIONES")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDORDEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                <a href="#exampleModalCenter2" class="btnDetalles btn btn-success notika-btn-success" data-toggle="modal" data-id="@item.IDORDEN">Detalles</a>

                @if (item.ESTADO != "Recepcionado")
                {
                    <a href="#exampleModalCenter2" class="btnRecepcion btn btn-success notika-btn-success" data-toggle="modal" data-id="@item.IDORDEN">Recepcion</a>
                }
                else
                { 
                    @Html.ActionLink("Recepcionado", "RecepcionDetails", new { id = item.IDORDEN})
                }
            </td>
        </tr>
    }

</table>

<script>
    $(".btnDetalles").click(function () {
        $(".modal-body").load("/Cliente/GetProductOfMyOrders/" + $(this).data("id"));
    });

    $(".btnRecepcion").click(function () {
        $(".modal-body").load("/Cliente/GetRecepcion/" + $(this).data("id"));
    });
</script>