@model FeriaVirtualWeb.Models.ViewModels.ProcesoVentaViewModel

@{
    Layout = "~/Views/Shared/_LayoutClienteExterno.cshtml";
}

<div>
    <h5>Detalle Recepcion</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRECLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRECLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAISCLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAISCLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTEFINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTEFINAL)
        </dd>
    </dl>
</div>
