@model FeriaVirtualWeb.Models.DataContext.TRANSPORTISTA

@{
    Layout = null;
}

@using (Html.BeginForm("EditMyTransporte", "Transportista", FormMethod.Post, new { id = "form-editTrans" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TRANSPORTISTA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDTRANSPORTISTA)
        <div class="form-group">
            @Html.LabelFor(model => model.TIPOTRANSPORTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nk-int-st">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TIPOTRANSPORTE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TIPOTRANSPORTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ANCHO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nk-int-st">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ANCHO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ANCHO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ALTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nk-int-st">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ALTO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ALTO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LARGO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nk-int-st">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LARGO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LARGO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CAPACIDADCARGA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nk-int-st">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CAPACIDADCARGA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAPACIDADCARGA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-primary notika-btn-primary col" id="btnEditTrans" />
                <div class="loadedit d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
}


<script src="~/assest/js/bootstrap-select.js"></script>
<script src="~/assest/js/wow.min.js"></script>
<script src="~/assest/js/jquery-price-slider.js"></script>
<script src="~/assest/js/owl.carousel.min.js"></script>
<script src="~/assest/js/jquery.scrollUp.min.js"></script>
<script src="~/assest/js/jquery.meanmenu.js"></script>
<script src="~/assest/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/assest/js/jquery.sparkline.min.js"></script>
<script src="~/assest/js/sparkline-active.js"></script>
<script src="~/assest/js/jquery.flot.js"></script>
<script src="~/assest/js/jquery.flot.resize.js"></script>
<script src="~/assest/js/flot-active.js"></script>
<script src="~/assest/js/jquery.knob.js"></script>
<script src="~/assest/js/jquery.appear.js"></script>
<script src="~/assest/js/knob-active.js"></script>
<script src="~/assest/js/jquery.todo.js"></script>
@*<script src="~/assest/js/waves.min.js"></script>
<script src="~/assest/js/wave-active.js"></script>*@
<script src="~/assest/js/plugins.js"></script>
<script src="~/assest/js/main.js"></script>

<script>
    $(document).ready(function () {

        var form = $("#form-editTrans");
        var botonAgregar = $("#btnEditTrans");

        botonAgregar.click(function () {
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: 'html',
                data: form.serialize(),
                beforeSend: function () {
                    botonAgregar.replaceWith($(".loadedit"));
                    $(".loadedit").html("<img src='@Url.Content("~/assest/img/loading.gif")'>");
                },
                success: function (response) {
                    if (response) {
                        $("#exampleModalCenter6").modal("hide");
                        toastr.options = {
                            "positionClass": "toast-top-center",
                            "timeOut": "4000",
                        }
                        toastr["success"]("Su Transporte ha sido Actualizado Exitosamente", "Maipo Grande Dice")
                        $("#transporteid").trigger("click");

                    }
                }
            });
            return false;
        });
    });
</script>