@model IEnumerable<FeriaVirtualWeb.Models.DataContext.TRANSPORTISTA>

@{ 
    Layout = null;
}
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPOTRANSPORTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANCHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LARGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPACIDADCARGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REFRIGERACION)
        </th>
        <th>
            @Html.DisplayName("ACCIONES")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIPOTRANSPORTE)
            </td>
            <td>
                @(item.ANCHO + " " + "m")
            </td>
            <td>
                @(item.ALTO + " " + "m")
            </td>
            <td>
                @(item.LARGO + " " + "m")
            </td>
            <td>
                @(item.CAPACIDADCARGA + " " + "kg")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REFRIGERACION)
            </td>
            <td>
                <a href="#exampleModalCenter6" class="btnEdit btn btn-success notika-btn-success" data-toggle="modal" data-id="@item.IDTRANSPORTISTA">Actualizar</a>
            </td>
        </tr>
    }

</table>

<script>
    $(".btnEdit").click(function () {
        $(".modal-body").load("/Transportista/EditMyTransportes/" + $(this).data("id"));
    }); 
</script>